* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.dflex {
    display: flex;
}
.flx_wrap {
    flex-wrap: wrap;
}
.conteiner {
    background: red;
    max-width: 1200px;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
}

.section {
    background: blue;
    width: 100%;
    padding: 50px;
    margin: 10px;
}

.section1 {
    background: yellow;
    width: 50%;
    padding: 50px;
    margin: 10px;

}
.section2 {
    background: pink;
    width: 33.3333%;
    padding: 50px;
    margin: 10px;

}
.section3 {
    background: pink;
    width: 66.6666%;
    padding: 50px;
    margin: 10px;

}

.sec {
    background: green;
    padding: 5px;
}
.wid50 {
    flex-basis: 50%;
    width: 50%;
}
.wid100 {
    width: 100%;
}
@media screen and (max-width: 900px) {
    .sec {
     flex-wrap: wrap;
    }
    .ggg {
        height: 200px;
    }
    .fff {
        display: flex;
        flex-direction: column;
    }
    .wid50 {
        width: 100%;
    }
    .www {
        flex-wrap: wrap-reverse;
    }
    .section2 {
        background: pink;
        width: 100%;
        padding: 50px;
        margin: 10px;
        height: 200px;
    }
    .section3 {
        background: pink;
        width: 100%;
        padding: 50px;
        margin: 10px;
        height: 50px;
    }



}